@use "../../styling/_variables.scss" as *;

.emptyState {
  font-size: 2rem;
  margin-top: 40px;
  text-align: center;
  color: $grey-darkest;
}

.searchBar {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.searchButtonWrapper {
  margin-left: 20px;
}

.selectedProperties {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 40px;
  }
}

.propertyResults {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 40px;
  }
}

.sidebarSection {
  @media (min-width: 768px) {
    width: 100%;
    max-width: 180px;
    margin-right: 40px;
  }
}

.resultsTableWrapper {
  flex-grow: 1;
}
